*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.main{
    height: 100vh;
    background: linear-gradient(70deg,#e92efb,#440bd4);
}
h2{
    color: white;
    margin: 20px;
}
h3 {
    color: white;
}
#boton1 {
    height: 2rem;
    width: 6rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: transparent;
    color: white;
    margin: 30px 40px;
    font-size: 16px;
    cursor: pointer;

}
input {
    margin: 15px;
    border-radius: 15px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    width: 120px;
    border: none;
    filter: drop-shadow(5px 5px 5px #ea2efb7e);
}
label {
    color: white;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

}
#tabla1 #tabla2 {
    display: flex;
    margin: 50px auto;
    border-radius: 15px;
    width: 50vw;
   
}
#operacion {
    margin: 15px;
    border-radius: 15px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    color:purple;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    width: 150px;
    border: none;
    filter: drop-shadow(5px 5px 5px #ea2efb7e);

}
tr th {
    
    border-radius: 15px;
    height: 80px;
    width: 150px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    filter: drop-shadow(5px 5px 5px #ea2efb7e);
    color: white;
    font-size: 25px;
    

}