*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(70deg,#e92efb,#440bd4);
    
}    

h2{
    color: white;
    margin: 0px auto 50px auto;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
#boton1 {
    height: 2rem;
    width: 6rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: transparent;
    color: white;
    margin: 10px 40px 30px 40px;
    font-size: 16px;
    cursor: pointer;

}
input {
    margin: 5px;
    border-radius: 15px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 120px;
    
    border: none;
    filter: drop-shadow(5px 5px 5px #ea2efb7e);
}
.contenedor1{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "x r y s l p" "X R Y S L P";
  width: auto;
  margin: auto;
}

.x {grid-area:"x"}
.r{ grid-area: "r";}
.y{grid-area: "y";}
.s{grid-area: "s";}
.l{grid-area:"l";}
.p{grid-area:"p";}

#X {grid-area: "X";}
#R{ grid-area: "R";}
#Y{grid-area: "Y";}
#S{grid-area: "S";}
#L{grid-area:"L";}
#P{grid-area:"P";}

.contenedor2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "t g a j w z" "T G A J W Z";
  width: auto;
  margin: auto;;
}
.t{grid-area:"t"}
.g{grid-area:"g";}
.a{grid-area:"a";}
.j{grid-area:"j";}
.w{grid-area:"w";}
.z{grid-area:"z";}

#T{grid-area:"T";}
#G{grid-area:"G";}
#A{grid-area:"A";}
#J{grid-area:"J";}
#W{grid-area:"W";}
#Z{grid-area:"Z";}

label {
    color: white;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

}
#tabla1 #tabla2 {
    display: flex;
    margin: 50px auto;
    border-radius: 15px;
    width: 50vw;
   
}

#tabla1 td {
    border-radius: 15px;
    height: 80px;
    width: 150px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    filter: drop-shadow(5px 5px 5px #ea2efb7e);
    color: white;
    font-size: 25px;

}
#tabla2 td {
    border-radius: 15px;
    height: 80px;
    width: 150px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    filter: drop-shadow(5px 5px 5px #ea2efb7e);
    color: white;
    font-size: 25px;

}
#operacion {
    margin: 15px;
    border-radius: 15px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    color:purple;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    width: 150px;
    border: none;
    filter: drop-shadow(5px 5px 5px #ea2efb7e);

}
tr th {
    
    border-radius: 15px;
    height: 80px;
    width: 150px;
    background:linear-gradient(70deg,#01ffc3,#9d72ff);
    filter: drop-shadow(5px 5px 5px #ea2efb7e);
    color: white;
    font-size: 25px;
    

}

@media (max-width:900px){
    .main{
        padding-top: 100px;
    }
    .titulo{
        font-size: 50px;
    }
    .contenedor1{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "x r y" "s l p" "X R Y" "S L P";
        width: auto;
        margin: 0px auto;
      }
      
      .x {grid-area:"x"}
      .r{ grid-area: "r";}
      .y{grid-area: "y";}
      .s{grid-area: "s";}
      .l{grid-area:"l";}
      .p{grid-area:"p";}
      
      #X {grid-area: "X";}
      #R{ grid-area: "R";}
      #Y{grid-area: "Y";}
      #S{grid-area: "S";}
      #L{grid-area:"L";}
      #P{grid-area:"P";}

      .contenedor2 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "t g a" "j w z" "T G A" "J W Z";
        width: auto;
        margin: 0px auto;;
      }
      .t{grid-area:"t"}
      .g{grid-area:"g";}
      .a{grid-area:"a";}
      .j{grid-area:"j";}
      .w{grid-area:"w";}
      .z{grid-area:"z";}
      
      #T{grid-area:"T";}
      #G{grid-area:"G";}
      #A{grid-area:"A";}
      #J{grid-area:"J";}
      #W{grid-area:"W";}
      #Z{grid-area:"Z";}

      .acciones {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      #boton1 {
          margin-bottom: 50px;
      }
      input {
          width: 140px;
          height: 60px;
      }
}
